.restaurant-about-us {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &__title {
        font-family: 'Archivo';
        font-weight: 700;
        font-size: 14px;
        color: #777777;
        margin-top: 30px;
        letter-spacing: 2.8px;
    }

    &__heading {
        font-family: 'Old Standard TT';
        font-weight: 400;
        font-size: 40px;
        letter-spacing: -1.05;
        color: #222222;
        margin-top: 20px;
    }

    &__description {
        margin-top: 20px;
        font-family: 'Archivo';
        font-weight: 400;
        font-size: 14px;
        color: #777777;
        line-height: 24px;
        width: 90%;
    }

    &__button {
        margin-top: 20px;
        width: 60%;
        color: white;
        border-color: #ffffff;
        background-color: #BEAD8E;
        font-family: 'Archivo';
        letter-spacing: 3px;
        font-weight: 500;
        height: 60px;
        padding: 20px;
    }
}
