.blackBackground_UltimateRoom{
    height: auto;
    background-color: #333333;
    width: 100%;
    color: white;
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 60px;
}

.blackBackground_UltimateRoom h5{
    font-family: 'Archivo';
    letter-spacing: 3px;
}

.h5Title{
    width: 70%;
}

.bigTitle_UltimateRoom{
    margin-top: 30px;
    width: 100px;
}

.bigTitle_UltimateRoom h1{
    font-family: 'Old Standard TT';
    font-size: 60px;
    font-weight: 10;
    line-height: 110%;
}

.divLinks_Home_Rooms{
    background-color: white;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 60px;
    right: -215px;
}

.divLinks_Home_Rooms p{
    color: #222222;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 16px;
}

.divLinks_Home_Rooms a{
    text-decoration: none;
  //  color: #222222;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 16px;

}

.linkHome{
    margin-right: 10px;
    color: #222222;
}

.linkRooms{
    margin-left: 10px;
    color: #BEAD8E;
}