.minimal-duplex-room__price-night {
    position: relative;
    bottom: 20px;
    z-index: 111;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    background-color: white;
    width: 370px;
    justify-self: center;

    & h1 {
        font-family: 'Old Standard TT';
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 15px;
    }

    & h5 {
        font-family: 'Roboto';
        font-weight: 400;
    }

    & .minimal-duplex-room__text {
        width: 60%;
        line-height: 22px;
        margin-bottom: 15px;
    }

    & .minimal-duplex-room__paraphs-price-night {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        & .minimal-duplex-room__price, & .minimal-duplex-room__night {
            font-family: 'Archivo';
            color: #BEAD8E;
            font-weight: 700;
        }

        & .minimal-duplex-room__price {
            font-weight: 400;
            font-size: 32px;
        }
    }
}
